@model ControlWork7.Models.Category
@{ ViewData["Title"] = "Добавить категорию"; }
<h2>Добавить категорию</h2>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button class="btn btn-success" type="submit">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }
